astroid==2.4.2
autopep8==1.5.3
colorama==0.4.3
colorful==0.5.4
dnspython==1.16.0
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
prettyprinter==0.18.0
pycodestyle==2.6.0
Pygments==2.6.1
pylint==2.5.3
pymongo==3.10.1
six==1.15.0
toml==0.10.1
wrapt==1.12.1
